.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
src/layers/
.env.development
.env.production
.env
__pycache__
node_modules
.DS_Store
.serverless
deploy.sh